{% extends 'base.html' %}

{% block content %}

    <a class="btn btn-secondary btn-sm mb-3" href="{% url 'frontend:product_detail' product.id%}">Back to Product Details</a>

    <h1 class="text-center mb-3">Product Purchase</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success btn-lg btn-block mt-4">Place Order</button>
        
      </form>

    {% if error_message %}
    <p class="alert alert-danger">
        <strong>{{error_message}}</strong>
    </p>
    {% endif %}

{% endblock %}

