{% extends 'base.html' %}

{% block content %}

    <a class="btn btn-secondary btn-sm mb-3" href="{% url 'frontend:product_listing' %}">Back to Product Listing</a>
    
    <h1 class="text-center mb-3">Product Detail</h1>

    <div >   
        <p>
            <span class="font-weight-bold">Product Name:</span> {{ product.name }}
        </p>
        <p>
            <span class="font-weight-bold">Product Code: </span> {{ product.code }}
        </p>
        <p>
            <span class="font-weight-bold">Product Cost: </span> {{ product.cost }}
        </p>    
        <p>
            <span class="font-weight-bold">Product Description: </span> {{ product.description }}
        </p>
        <p>
            <span class="font-weight-bold">Product Category: </span> {{ product.category.name }}
        </p>        
        <p>
            <span class="font-weight-bold">Product Type: </span> {{ product.product_type.type_name }}
        </p>
    </div>
    
    <a href="{% url 'frontend:product_purchase' product.id %}" class="btn btn-success btn-lg btn-block mt-4">Purchase</a>        

    {% if error_message %}
    <p class="alert alert-danger">
        <strong>{{error_message}}</strong>
    </p>
    {% endif %}

{% endblock %}

